main {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}
main .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
main .slide {
    min-width: 100%;
    position: relative;
}
main .slide img {
    width: 100%;
    height: auto;
    display: block;
}
main .caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 5px;
}
main .buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
main .buttons button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 768px) {
    main {
        padding: 0px;
    }

    main img {
        border-radius: 5px; /* Sudut lebih kecil di layar kecil */
    }
}