body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}